<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false">
                <!-- %highlight applies ANSI colors based on level -->
                <Pattern>%d{HH:mm:ss} %highlight{%-5level}{FATAL=bg_red, ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=blue} %style{%class{0}}{bold} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 1) Turn JGit down to WARN (no DEBUG/TRACE) -->
        <Logger name="org.eclipse.jgit" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 2) Silences all DEBUGs of Apache HttpClient -->
        <Logger name="org.apache.http" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="okhttp3" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- 3) Completely disable wire-logging (byte swapping) -->
        <Logger name="org.apache.http.wire" level="off" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!-- default logger -->
        <Root level="trace">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>